nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    width: 200px;
  }
  
  nav li a {
    display: block;
    background-color: rgb(0, 91, 20);
    border: 5px solid rgb(255, 255, 255);
    padding: 1em;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  .boxmodle{
    border:1px solid #000
    background-color: lightblue;
  }

  
  #wrapper{
    margin: 1em auto;
    padding:0;
    width: 1000px;
    border: 1px solid #000000;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .floatimage{
    float:left;
    width:150px;
}

  img{
    grid-column: span 1;

  }
  footer {
    grid-column: span 9;
    background-color: lightblue;
    border:1px solid #000;
  }
  .border-bottom {
    border-bottom: 4px solid black;
  }