/* ayyyyy */

body {
  background-color: rgb(255, 244, 240);
}

.headers {
    background-color: #92c5e4;
  color: rgb(11, 11, 145);
}

.specialp {
    color: #063e06;

    background-color: rgb(211, 238, 199);
  }

  #specialid {
    color: orangered;
    background-color: rgb(255, 219, 244);
  }

  .fancyul {
    color: #424405;
    background-color: rgb(189, 183, 255);
  }

  .spanstyle {
    color: darkslategray;
    background-color: rgb(249, 248, 191);
    text-decoration: underline;
  }

  #divivi {
    color: maroon;
    background-color: rgb(255, 219, 244);
  }

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: yellow;
}
